.coin-container {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #fff;
  margin-top: 10px;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 650px;
}

.coin {
  display: flex;
  align-items: center;
  min-width: 100px;
  cursor: pointer;
}

.coin img {
  height: 50px;
  width: 50px;
  margin: 10px;
}

.coin h1 {
  font-size: 18px;
  width: 100px;
  margin-left: 10px;
  letter-spacing: 0.5px;
}

.coin-data {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: 7px;
}

.Rs {
  letter-spacing: 1px;
}

.percent {
  width: 150px;
  height: 60px;
}

.price-percent {
  display: flex;
}

.coin-price {
  width: 120px;
  padding-top: 18px;
  font-size: 17px;
}

.coin-percent {
  font-size: 20px;
  width: 150px;
  padding: 3px;
}

.price-of-percent {
  font-size: 12px;
  padding: 5px;
}

.coin-marketcap {
  width: 190px;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 18px;
}

.red {
  color: #e6192e;
}

.green {
  color: rgb(0, 255, 0);
}

@media only screen and (max-width: 700px) {
  .coin-container {
    width: 400px;
    height: 210px;
  }

  .coin-row {
    height: 130px;
    margin: 15px;
  }

  .coin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
    margin-right: 20px;
  }

  .coin img {
    height: 90px;
    width: 90px;
    margin: 10px;
  }

  .coin h1 {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
  }

  .coin-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }

  .price-percent {
    border-bottom: 1px solid rgb(95, 91, 99);
  }

  .coin-price {
    margin-bottom: 5px;
  }

  .coin-percent {
    width: 130px;
  }

  .percent {
    margin-bottom: 10px;
    border-left: 3px solid rgb(95, 91, 99);
  }

  .price-of-percent {
    width: 130px;
  }

  .coin-marketcap {
    margin: 15px 0px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 400px) {
  .coin-search {
    text-align: center;
  }

  .coin-container {
    width: 350px;
    height: 200px;
  }

  .coin {
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 20px;
  }

  .coin img {
    height: 80px;
    width: 80px;
    margin-bottom: 5px;
  }

  .coin h1 {
    width: 80px;
    letter-spacing: 0.5px;
    font-size: 20px;
    margin-right: 10px;
  }

  .coin-data {
    margin-top: 70px;
    margin-left: 0px;
  }

  .coin-price {
    padding-top: 20px;
    padding-right: 5px;
  }

  .price-percent {
    width: 200px;
    border-bottom: 1px solid rgb(95, 91, 99);
  }

  .coin-percent {
    width: 100px;
  }

  .percent {
    border-left: 3px solid rgb(95, 91, 99);
  }

  .price-of-percent {
    width: 100px;
    padding-top: 5px;
  }

  .coin-marketcap {
    margin: 15px 0px;
    font-size: 18px;
  }
}
